body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #e1f0fa 0%, #b5d1e6 50%, #8fb3d1 100%);
    /*coordenadas para el color*/
    background-size: 300% 300%;
    /*Cambio de grados para generar un efecto de delizante*/
    animation: gradientShift 20s ease-in-out infinite;
    /*Efecto de animacion*/
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: relative;
}


/*particulas para la animacion*/
/*
@keyframes particles {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}*/

#interfaz-operativa {
    display: block;
    width: 100%;
    height: 100%;
}

.contenedor_chat {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.contenedor_chat h1 {
    color: #333;
}