#interfaz-operativa-sender {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Área de mensajes */
.chat_mensajes {
    display: none;
}